* {
  box-sizing: border-box;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
.uu-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.uu-enter-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.uu-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.uu-leave-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.dd-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.dd-enter-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.dd-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.dd-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.ud-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.ud-enter-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.ud-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.ud-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.us-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.us-enter-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.us-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0;
  transition: all 0.2s;
}
.us-leave-active {
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  transition: all 0.2s;
}
.ds-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.ds-enter-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.ds-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0;
  transition: all 0.2s;
}
.ds-leave-active {
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  transition: all 0.2s;
}
.du-enter {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.du-enter-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.du-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.du-leave-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.ll-enter {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.ll-enter-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.ll-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.ll-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.rr-enter {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.rr-enter-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}
.rr-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.rr-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}
.rl-enter {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.rl-enter-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}
.rl-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.rl-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.lr-enter {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.lr-enter-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.lr-leave {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.lr-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}
.bs-enter {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.bs-enter-active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}
.bs-leave {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.bs-leave-active {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
}
